/* Flex-Container spezifisch für newsfeed */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-background-color);
  /* Verwendung der Variable aus index.css*/
}

/* Stile spezifisch innerhalb des .app Containers */
.app .logo {
  height: 100px;
  width: auto;
  padding: 1.5em;
  margin-bottom: 2rem;
  will-change: filter;
  transition: filter 300ms;
}

.app .chat {
  width: 300px;
  padding: 20px;
  box-shadow: none;
  /* Entfernen des Schattens */
}

.app body {
  font-family: 'Caviar Dreams', sans-serif;
}

.app .message {
  background-color: #ffff66;
  color: darkblue;
}

.app .user-info {
  color: darkblue;
}

.app .messages {
  height: 600px;
  overflow-y: auto;
}

.app .message {
  position: relative;
  max-width: 70%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
  color: darkblue;
  margin-right: 50px;
  border: none;
  overflow: hidden;
}

.app .user-info {
  align-self: flex-end;
  margin-right: 5px;
  font-size: 0.8em;
  color: #999;
}

.app .input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background: #242424;
  /* Huntergrundfarbe */
  padding: 10px;
  border-radius: 8px;
  /* für abgerundete Ecken */
}

.app input[type='text'] {
  flex: 1;
  padding: 5px;
  background: transparent;
  border: 1px solid transparent;
  /* leichter Rahmen um das Textfeld */
  color: white;
  /* text */
  margin-right: 5px;
  transition: boarder-color 0.3s ease;
  /* sanfter Übergang für Effekte */
  border-radius: 4px;
}

.app input[type='text'] {
  flex: 1;
  padding: 5px;
  background: transparent;
  border: 1px solid transparent;
  /* Standardmäßig transparenter Rahmen */
  color: white;
  /* ... */
  margin-right: 5px;
  transition: border-color 0.25s;
  /* Transition für den Hover-Effekt */
}

.app input[type='text']:hover {
  border-color: #646cff;
  /* Rahmenfarbe beim Hover */
  /* Keine Hintergrundänderung erforderlich, da Sie nur den Rahmen wollen */
}

.app .upload-button {
  cursor: pointer;
  background-color: #646cff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1em;
  /* Gleiche Schriftgröße wie der "Send" Button */
  font-family: inherit;
  /* Gleiche Schriftart wie der "Send" Button */
  /* Anpassung der Größe */
  width: auto;
  white-space: nowrap; /* Einzeiliger Text */
  font-weight: bold;
}

.app button {
  cursor: pointer;
  background-color: #646cff;
  /* Button-Hintergrundfarbe */
  color: white;
  /* Button-Textfarbe */
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  /* Optional: für abgerundete Ecken */
}

.app .upload-button {
  float: left;
}

.app .download-button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  content: "\2B06";
}