:root {
  /* Darkmode Farbvariablen */
  --primary-background-color: #242424; /* Dunkler Hintergrund */
  --text-color: #ffffff; /* Heller Text */
  --secondary-color: #646cff; /* Sekundäre Farbe für Hover-Effekte und Buttons */
  --message-background-color: #333333; /* Dunkler Hintergrund für Nachrichten */
  --info-color: #999999; /* Farbe für Nutzerinformationen */
}

/* Webkit-basierte Browser (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Breite der Scrollleiste */
}

::-webkit-scrollbar-thumb {
  background-color: gray; /* Hintergrundfarbe des Scroll-Thumb (der graue Teil) */
  border-radius: 5px; /* Abgerundete Ecken des Scroll-Thumbs */
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: gray;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Logo am Anfang des Containers ausrichten */
  align-items: center;
  min-height: 100vh; /* Mindesthöhe statt fester Höhe */
  background-color: var(--primary-background-color);
  padding-top: 2rem; /* Platz oben im Container hinzufügen */
}

/* Stile spezifisch innerhalb des .app Containers */
.app .logo {
  height: auto; /* passt die Höhe an das Bild an, sofern das Logo als img-Tag eingebunden ist */
  max-height: 100px; /* maximale Höhe, um das Logo zu beschränken */
  width: auto; /* behält das Seitenverhältnis des Logos bei */
  padding: 1.5em;
  margin-top: 1rem; /* Geben Sie hier zusätzlichen Platz nach Bedarf */
  margin-bottom: 2rem;
  will-change: filter;
  transition: filter 300ms;
}

.app .chat {
  width: 1000px;
  padding: 100px;
  box-shadow: none;
}

/*Timestap*/
.app .message .timestamp {
  display: block; /* Oder 'inline-block' je nach gewünschtem Layout */
  color: var(--info-color); /* Farbe der Uhrzeit */
  font-size: 0.8em; /* Größe der Uhrzeit */
  margin-top: 0.5rem; /* Abstand oben von der Nachricht */
}

.app body {
  font-family: 'Caviar Dreams', sans-serif;
  color: var(--text-color); /* Heller Text für den Darkmode */
}

.app .message {
  background-color: var(--message-background-color); /* Dunkler Hintergrund für Nachrichten */
  color: var(--text-color); /* Heller Text */
}

.app .user-info {
  color: var(--info-color); /* Farbe für Nutzerinformationen */
}

.app .messages {
  height: 600px;
  overflow-y: auto;
}

.app .message {
  position: relative;
  max-width: 70%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--message-background-color);
  color: var(--text-color);
  margin-right: 50px;
  border: none;
  overflow: hidden;
}

.app .user-info {
  align-self: flex-end;
  margin-right: 5px;
  font-size: 0.8em;
  color: var(--info-color);
}

.app .input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background: var(--primary-background-color);
  padding: 10px;
  border-radius: 8px;
}

.app input[type='text'] {
  flex: 1;
  padding: 5px;
  background: transparent;
  border: 1px solid transparent;
  color: var(--text-color);
  margin-right: 5px;
  transition: border-color 0.3s ease;
  border-radius: 4px;
}

.app input[type='text']:hover {
  border-color: var(--secondary-color);
}

.app .upload-button{  
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.9em;
  font-family: inherit;
  font-weight: bold;
}

.app button {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1em;
  font-family: inherit;
  font-weight: bold;
}

.app .upload-button {
  float: left;
}

.app .download-button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  content: "\2B06";
}
